<span fxLayoutAlign="center center" class="item">
  <mat-icon [color]="iconColor" [ngClass]="'mat-icon-' + iconSize">report_problem</mat-icon>
  
  <span class="px-1">ATTENTION CECI EST UN PROJET ÉTUDIANT</span>
</span>
<span *ngIf="dividers" class="v-divider"></span>
<span fxLayoutAlign="center center" class="item">
  <mat-icon [color]="iconColor" [ngClass]="'mat-icon-' + iconSize">call</mat-icon>
  <span class="px-1"> 01 49 57 59 59</span>
</span>
<span *ngIf="dividers" class="v-divider"></span>
  <span class="px-1">22 rue des Vignerons 94300 Vincennes</span>
  <mat-icon [color]="iconColor" [ngClass]="'mat-icon-' + iconSize">location_on</mat-icon>
