<app-header-image [backgroundImage]="'assets/images/carousel/slide-3.jpg'" 
                  [bgImageAnimate]="false" 
                  [contentOffsetToTop]="false" 
                  [desc]="'Proprietés'"
                  [contentMinHeight]="200">
</app-header-image>
 
<div class="px-3">
    
  <div class="theme-container">  
    <mat-sidenav-container class="all-properties mt-3"> 
      <mat-sidenav #sidenav [autoFocus]="false" [opened]="sidenavOpen" [mode]="sidenavOpen ? 'side' : 'over'" class="search-sidenav">         
        <mat-card [perfectScrollbar]="psConfig"> 
          <button fxHide="false" fxHide.gt-xs mat-icon-button (click)="sidenav.toggle()">
              <mat-icon color="accent">close</mat-icon>
          </button>
          <form [formGroup]="form" class="search-wrapper" [ngClass]="'variant-'+variant" (ngSubmit)="search()" *ngIf="form" >

            <div [fxLayout]="(vertical) ? 'column' : 'row wrap'"> 
        
                <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2">
                    <mat-form-field appearance="outline" >
                        <mat-label>Catégorie du bien</mat-label> 
                        <mat-select placeholder="Selectioner la catégorie" formControlName="propertyType"  multiple >
                            <mat-option *ngFor="let propertyType of propertyTypes" [value]="propertyType.id" >
                                {{propertyType.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
        
                <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2">
                    <mat-form-field appearance="outline">
                        <mat-label>Type du bien</mat-label>
                        <mat-select placeholder="Selectionner le type " formControlName="propertyStatus"  multiple >
                            <mat-option *ngFor="let propertyStatus of propertyStatuses" [value]="propertyStatus.id">
                                {{propertyStatus.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>        
                <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2">
                    <mat-form-field appearance="outline" >
                        <mat-label>Enter la date </mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate placeholder="Date d'arriver" #dateRangeStart formControlName="datedepart">
                            <input matEndDate placeholder="Date de depart" #dateRangeEnd formControlName="datearrive"
                                (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)">
                        </mat-date-range-input>
                        
                        <mat-datepicker-toggle style="margin-left: 40%;" matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                    </div>

                <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2" formGroupName="price">
        
                    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                        <div fxFlex="45">
                            <mat-form-field appearance="outline">
                                <mat-label>{{(variant == 1) ? 'Budget Min' : 'Budget Min'}}</mat-label>
                                <input matInput autocomplete="off" placeholder="From" formControlName="from" type="text" onlyNumber>                  
                            </mat-form-field>
                        </div>
                        <div fxFlex="10" class="text-center" [class.pt-2]="variant == 2">
                            <mat-icon class="text-muted">remove</mat-icon>
                        </div>
                        <div fxFlex="45">
                            <mat-form-field appearance="outline">
                                <mat-label>{{(variant == 1) ? 'Budget Max' : 'Budget Max'}}</mat-label>
                                <input matInput autocomplete="off" placeholder="To" formControlName="to" type="text" onlyNumber>                  
                            </mat-form-field>
                        </div>
                    </div> 
        
                </div>          
        
                
                <div  [fxLayout]="(vertical) ? 'column' : 'row wrap'" class="w-100">
        
                    <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2">                         
                        <mat-form-field appearance="outline">
                            <mat-label>Ville</mat-label>
                            <mat-select placeholder="Selectionner une ville" formControlName="city" >
                                <mat-option *ngFor="let city of cities" [value]="city.name">
                                    {{city.name}}
                                </mat-option>
                            </mat-select> 
                        </mat-form-field>
                    </div>
        
                    <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Nombre de personnes</mat-label>
                            <input matInput placeholder="Nombre de personnes" autocomplete="off" formControlName="zipCode">                  
                        </mat-form-field>
                    </div>
        

            
                    <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2" formGroupName="bedrooms">
            
                        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                            
                                <mat-form-field appearance="outline">
                                    <mat-label>{{(variant == 1) ? 'Chambres' : 'Chambres'}}</mat-label>
                                    <mat-select placeholder="Nombre de chambres" formControlName="from">
                                        <mat-option *ngFor="let number of [1,2,3,4,5,6,7,8,9,10]" [value]="number">
                                            {{number}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                           
                     
                        </div> 
            
                    </div> 
            
                    <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2" formGroupName="bathrooms">
            
                        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                            <div fxFlex="100">
                                <mat-form-field appearance="outline">
                                    <mat-label>{{(variant == 1) ? 'Douches' : 'Douches'}}</mat-label>
                                    <mat-select placeholder="Nombre de Douches" formControlName="from">
                                        <mat-option *ngFor="let number of [1,2,3,4,5,6,7,8,9,10]" [value]="number">
                                            {{number}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div> 
            
                    </div> 
        
                    <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2" formGroupName="garages">
            
                        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                            <div fxFlex="100">
                                <mat-form-field appearance="outline">
                                    <mat-label>{{(variant == 1) ? 'Lits' : 'Lits'}}</mat-label>
                                    <mat-select placeholder="Nombre de lits" formControlName="from">
                                        <mat-option *ngFor="let number of [1,2,3,4,5,6,7,8,9,10]" [value]="number">
                                            {{number}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div> 
            
                    </div> 
                   
        
                    <div fxFlex="100" class="mb-2"> 
                        <p class="uppercase m-2 fw-500">Caractéristiques</p> 
                        <div formArrayName="features" fxLayout="row wrap">
                            <div [formGroupName]="i" *ngFor="let control of form.get('features')['controls']; index as i"   class="p-2">
                                <mat-checkbox formControlName="selected" (change)="onChange($event)"  [value]="features[i].id ">{{features[i].name }}</mat-checkbox>                         
                            </div>
                        </div>
                    </div>
        
                </div>
        
        
            </div>
          
        
            <div fxLayout="column" fxLayoutAlign="center center" class="p-2" >
                <button type="submit"  mat-raised-button color="primary" class="search-btn mx-1" ><mat-icon>search</mat-icon> Chercher</button>       
              <button mat-raised-button color="warn" class="uppercase mx-1" style="margin :3%" (click)="vider()">Vider</button>

            </div>
            
        
        </form>
        
        </mat-card> 
      </mat-sidenav>

      <mat-sidenav-content ngClass.gt-sm="distance"> 

        <div fxLayout="row wrap" class="properties-wrapper mt-0">            
           
            <div fxFlex="100" class="px-2 pb-2 pt-0">                
                <app-properties-toolbar [showSidenavToggle]="!sidenavOpen"
                                        (onSidenavToggle)="sidenav.toggle()"
                                        (onChangeCount)="changeCount($event)"
                                        (onChangeSorting)="changeSorting($event)"
                                        (onChangeViewType)="changeViewType($event)">
                </app-properties-toolbar>
            </div>
           
            <div fxFlex="100" fxLayoutAlign="start start" class="p-2"> 
                <mat-chip-list [ngClass]="(settings.rtl) ? 'ml-2' : 'mr-2'">
                    <mat-chip selected disableRipple="true" color="warn" class="uppercase ws-nowrap">
                        {{ Count() }} Trouvés
                    </mat-chip> 
                </mat-chip-list>
                <app-properties-search-results-filters 
                    [searchFields]="searchFields" 
                    (onRemoveSearchField)="removeSearchField($event)">
                </app-properties-search-results-filters>                 
            </div>

            <div *ngFor="let property of properties" [fxFlex]="(viewType=='grid') ? viewCol : 100"  class="item">                         
                <app-property-item [property]="property" [viewType]="viewType" [viewColChanged]="viewCol" [fullWidthPage]="false"></app-property-item>
            </div>

            <div *ngIf="properties?.length == 0" fxFlex="100" fxLayoutAlign="center center" [style.min-height.px]="200">                
                <mat-spinner *ngIf="!message"></mat-spinner>
                <mat-chip-list *ngIf="message">
                    <mat-chip selected disableRipple="true" color="warn" class="uppercase ws-nowrap">
                        {{message}}
                    </mat-chip> 
                </mat-chip-list> 
            </div>            

            <div *ngIf="properties?.length > 0" fxFlex="100" fxLayoutAlign="center center" class="p-2">
                <mat-paginator [length]="pagination?.total"
                              [pageSize]="pagination?.perPage"
                              (page)="onPageChange($event)"
                              class="w-100 mat-elevation-z1">
                </mat-paginator>
            </div>          
         
        </div>

        

      </mat-sidenav-content>
    </mat-sidenav-container>

  </div>

</div>



<app-clients></app-clients>

<app-get-in-touch></app-get-in-touch>