<a  *ngIf="cnx==='true'" mat-button [matMenuTriggerFor]="userMenu" #userMenuTrigger="matMenuTrigger" >
    <mat-icon class="mat-icon-sm">person</mat-icon>
    <span fxShow="false" fxShow.gt-sm class="mx-1 uppercase">{{ 'ACCOUNT' | translate }}</span> 
    <mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>
</a>
<a  *ngIf="cnx!='true'" mat-button (click)="navigate()">
    <mat-icon class="mat-icon-sm">person</mat-icon>
    <span fxShow="false" fxShow.gt-sm class="mx-1 uppercase " >Se connecter</span> 
</a>
<mat-menu #userMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="app-menu-panel user-menu">
    <span (mouseleave)="userMenuTrigger.closeMenu()">
        <div fxLayout="row" fxLayoutAlign="start center" class="user-info">                   
            <img src="assets/images/others/user.jpg" alt="user-image" width="50">
            <p class="m-0">{{user}}<br> <small><i></i></small></p>
        </div>
        <div class="divider"></div>
        <a mat-menu-item routerLink="/submit-property"> 
            <mat-icon class="mat-icon-sm">add_circle</mat-icon>
            <span>{{ 'SUBMIT_PROPERTY' | translate }}</span> 
        </a>
        <a mat-menu-item routerLink="/account/my-properties"> 
            <mat-icon class="mat-icon-sm">home</mat-icon>
            <span>{{ 'MY_PROPERTIES' | translate }}</span> 
        </a>
        <a mat-menu-item routerLink="/account/bookings"> 
            <mat-icon class="mat-icon-sm">book</mat-icon>
            <span [matBadge]="result" 
                  [matBadgeHidden]="result == 0"
                  matBadgeSize="small" 
                  matBadgeColor="warn" 
                  matBadgeOverlap="false">Mes reservations</span> 
        </a>
        <a mat-menu-item routerLink="/compare"> 
            <mat-icon class="mat-icon-sm">compare_arrows</mat-icon> 
            <span [matBadge]="appService.Data.compareList.length" 
                  [matBadgeHidden]="appService.Data.compareList.length == 0"
                  matBadgeSize="small" 
                  matBadgeColor="warn" 
                  matBadgeOverlap="false">{{ 'COMPARE' | translate }}</span> 
        </a>
        <a mat-menu-item routerLink="/account/profile"> 
            <mat-icon class="mat-icon-sm">edit</mat-icon>
            <span>{{ 'EDIT_PROFILE' | translate }}</span> 
        </a>

        <div class="divider"></div>
        <a mat-menu-item  (click)="logout()"> 
            <mat-icon class="mat-icon-sm">power_settings_new</mat-icon>
            <span>{{ 'LOGOUT' | translate }}</span> 
        </a>
    </span>
</mat-menu>  