<app-header-image [backgroundImage]="'assets/images/others/about.jpg'" 
                  [bgImageAnimate]="false" 
                  [contentOffsetToTop]="true"                
                  [title]="'À propos'"
                  [desc]="'Nous vous aidons à trouver la clé de votre maison'">
</app-header-image>
<div class="theme-container">
    <mat-card class="main-content-header">
        
        <div class="section pt-2">
            <div class="px-3">
                <div class="theme-container">
                    <h1 class="section-title">À  PROPOS</h1>

                    <p class="px-3">Nous sommes 3 associés Gabriel Lucas et Sarah, passionnés par les voyages, l’habitat alternatif et la vie en harmonie avec la nature.<br>Après avoir collaboré sur divers événements ensemble, et effectué de nombreux voyages, nous avons décidé de nous associer pour créer notre société : AtypikHouse.<br>Notre spécialité ? La location d’hébergements alternatifs comme les cabanes dans les arbres, les bulles, les yourtes, les tipis en France et en Europe.<br>Nous (Gabriel et Lucas) sommes originaires de Pierrefonds et meilleurs amis depuis l’enfance.<br>Nous avons passé notre enfance à jouer dans la forêt de Compiègne, où nous avions une cabane dans un arbre. C’était notre repaire secret et nous rêvions de vivre de notre passion à l’âge adulte.<br>Quant à moi, Sarah, j’ai beaucoup voyagé pendant mes études. A 20 ans, je me suis installée à Paris, où je suis devenue chargée de projet événementiel. Mais la vie citadine m’étouffait et je trouvais souvent refuge à Pierrefonds où j’ai fait la connaissance de Gabriel et Lucas.<br>Le courant est tout de suite passé entre nous : un vrai coup de foudre 🤩 Ensemble nous avons beaucoup voyagé, surtout en Europe, et testé toutes sortes d’expériences. Au cours de nos voyages nous avons fait de très belles rencontres et noués de nombreuses relations durables grâce auxquelles nous avons pu nous lancer et créer en 2022 notre société AtypikHouse. </p>

                    <div fxLayout="row wrap">

                    </div>
                    
                </div>
            </div>   
        </div> 

    </mat-card> 
 
</div>

<app-mission></app-mission>

<app-our-services></app-our-services>

<app-testimonials></app-testimonials>  

<app-our-agents></app-our-agents>
      
<app-clients></app-clients>

<app-get-in-touch></app-get-in-touch>