<div class="p-3">
  <div class="theme-container">
    <mat-card ngClass.lt-lg="p-0" [formGroup]="submitForm">
      <mat-horizontal-stepper #horizontalStepper linear="false" class="submit-property"
        (selectionChange)="onSelectionChange($event)">
        <mat-step [stepControl]="submitForm.get('address')" label="Address">
          <div class="step-content">
            <form formGroupName="address" fxLayout="row wrap">
              <div fxFlex="100" class="p-3">
                <h1 class="fw-500 text-center">Addresse</h1>
              </div>
              <div fxFlex="100" class="px-2 mb-4">
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeControl]="true"
                  [fullscreenControl]="true" (mapClick)="onMapClick($event)">
                  <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true"
                    (markerClick)="onMarkerClick($event)"></agm-marker>
                </agm-map>
              </div>
              <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Ville</mat-label>
                  <mat-select placeholder="Select City..." formControlName="city" (selectionChange)="onSelectCity()"
                    required>
                    <mat-option *ngFor="let city of cities" [value]="city.name">
                      {{city.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="submitForm.get('address')['controls'].city.errors?.required">City is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Code postale</mat-label>
                  <input matInput placeholder="Code postale" autocomplete="off" formControlName="zipCode">
                </mat-form-field>
              </div>
              <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Quatier</mat-label>
                  <mat-select placeholder="Select Neighborhood..." formControlName="neighborhood"
                    (selectionChange)="onSelectNeighborhood()">
                    <mat-option
                      *ngFor="let neighborhood of neighborhoods | filterNeighborhoods: submitForm.get('address')['controls'].city.value?.id"
                      [value]="neighborhood.name">
                      {{neighborhood.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Rue</mat-label>
                  <mat-select placeholder="Select Street..." formControlName="street">
                    <mat-option
                      *ngFor="let street of streets | filterStreets : { neighborhoods: submitForm.get('address')['controls'].neighborhood.value?.id, cityId:submitForm.get('address')['controls'].city.value?.id } "
                      [value]="street.name">
                      {{street.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxFlex="100" class="mt-3 p-2" fxLayoutAlign="space-between center">
                <button mat-raised-button color="primary" matStepperPrevious fxLayout="row"
                  fxLayoutAlign="center center" type="button">
                  <mat-icon>navigate_before</mat-icon>
                  <span class="mx-1 uppercase">Précédent</span>
                </button>
                <button mat-raised-button color="primary" matStepperNext (click)="submitstep2()" fxLayout="row"
                  fxLayoutAlign="center center" type="button">
                  <span class="mx-1 uppercase">Suivant</span>
                  <mat-icon>navigate_next</mat-icon>
                </button>
              </div>
            </form>
          </div>
        </mat-step>
        <mat-step [stepControl]="submitForm.get('additional')" label="Additional">
          <div class="step-content">
            <form formGroupName="additional" fxLayout="row wrap">
              <div fxFlex="100" class="p-3">
                <h1 class="fw-500 text-center">Supplémentaire</h1>
              </div>
              <div fxFlex="100" fxFlex.gt-xs="33.3" class="px-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Chambres</mat-label>
                  <input matInput placeholder="bedrooms" autocomplete="off" formControlName="bedrooms" onlyNumber
                    maxlength="2">
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.gt-xs="33.3" class="px-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Salles de bains</mat-label>
                  <input matInput placeholder="bathrooms" autocomplete="off" formControlName="bathrooms" onlyNumber
                    maxlength="2">
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.gt-xs="33.3" class="px-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Nombre de voyageur</mat-label>
                  <input matInput placeholder="Garages" autocomplete="off" formControlName="garages" onlyNumber
                    maxlength="2">
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Nombre de lits</mat-label>
                  <input matInput placeholder="Nombre de lits" autocomplete="off" formControlName="area" onlyNumber>
                </mat-form-field>
              </div>
              <div fxFlex="100" class="mb-2">
                <p class="uppercase m-2 fw-500">Caractéristiques</p>
                <div formArrayName="features" fxLayout="row wrap">
                  <div [formGroupName]="i"
                    *ngFor="let control of submitForm.get('additional')['controls'].features['controls']; index as i"
                    class="p-2">
                    <mat-checkbox formControlName="selected" (change)="onChange($event)" [value]="features[i].id ">
                      {{features[i].name }}</mat-checkbox>
                  </div>
                </div>
              </div>
              <div fxFlex="100" class="mt-3 p-2" fxLayoutAlign="space-between center">
                <button mat-raised-button color="primary" matStepperPrevious fxLayout="row"
                  fxLayoutAlign="center center" type="button">
                  <mat-icon>navigate_before</mat-icon>
                  <span class="mx-1 uppercase">Précédent</span>
                </button>
                <button mat-raised-button color="primary" matStepperNext (click)="submitstep3()" fxLayout="row"
                  fxLayoutAlign="center center" type="button">
                  <span class="mx-1 uppercase">Suivant</span>
                  <mat-icon>navigate_next</mat-icon>
                </button>
              </div>
            </form>
          </div>
        </mat-step>
        <mat-step [stepControl]="submitForm.get('media')" label="Media">
          <div class="step-content">
            <form formGroupName="media" fxLayout="row wrap">
              <div fxFlex="100" class="p-3">
                <h1 class="fw-500 text-center">Media</h1>
              </div>
              <app-upload-manager></app-upload-manager>
              <div fxFlex="100" class="mt-3 p-2" fxLayoutAlign="space-between center">
                <button mat-raised-button color="primary" matStepperPrevious fxLayout="row"
                  fxLayoutAlign="center center" type="button">
                  <mat-icon>navigate_before</mat-icon>
                  <span class="mx-1 uppercase">Précédent</span>
                </button>
                <button mat-raised-button color="primary" (click)="submitstep5()" matStepperNext fxLayout="row"
                  fxLayoutAlign="center center" type="button">
                  <span class="mx-1 uppercase">Soumettre</span>
                  <mat-icon>navigate_next</mat-icon>
                </button>
              </div>
            </form>
          </div>
        </mat-step>
        <mat-step label="Confirmation">
          <div class="step-content">
            <div fxLayout="column" fxLayoutAlign="center center" class="pt-5 text-center">
              <button mat-fab color="primary">
                <mat-icon>check</mat-icon>
              </button>
              <h2 class="mt-3 uppercase">Félicitation!</h2>
              <p class="text-muted">Votre logement a bien été ajouté et est en attente de validation.</p>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" class="pt-3">
              <button mat-raised-button color="accent" (click)="reset()" type="button">Retourner pour soumettre une
                nouvelle propriété</button>
            </div>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card>
  </div>
</div>