<mat-form-field appearance="outline" class="w-100">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter properties" autocomplete="off">
</mat-form-field>
<div class="table-wrapper">
  <table mat-table [dataSource]="dataSource" matSort class="w-100">

    <!-- Title Column -->
    <ng-container matColumnDef="Type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type de logement </th>
      <td mat-cell *matCellDef="let element "><a [routerLink]="['/properties', element.id ]"
          class="property-name">{{propertyType(element.kind)}}</a></td>
    </ng-container>

    <ng-container matColumnDef="Title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Titre du logement </th>
      <td mat-cell *matCellDef="let element "><a [routerLink]="['/properties', element.id ]"
          class="property-name">{{element.title}}</a></td>
    </ng-container>

    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Statut de logement </th>
      <td mat-cell *matCellDef="let element "><a [routerLink]="['/properties', element.id ]"
          class="property-name">{{getstatuts(element.status)}}</a></td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/account/my-properties', element.id]" mat-icon-button color="primary" matTooltip="Modifier">
          <mat-icon>edit</mat-icon>
        </a>
        <button mat-icon-button color="warn" (click)="remove(element.id)" matTooltip="Supprimer" class="remove">
          <mat-icon>delete</mat-icon>
        </button>
        <button *ngIf="element.status==1  " mat-icon-button color="primary" (click)="updatestatuts(element.id)"
          matTooltip="Publier" class="remove">
          <mat-icon>done outline icon</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let property; columns: displayedColumns;">
    </tr>
  </table>
  <p *ngIf="dataSource?.data.length === 0" class="py-5 mb-0 text-center">Pas de données disponibles</p>
</div>
<mat-paginator [pageSizeOptions]="[20]" (page)="onPaginateChange($event)" showFirstLastButtons></mat-paginator>