<mat-toolbar id="top-toolbar" class="top-toolbar" style="background-color: gray;">
  <div class="theme-container" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center">
      <span fxHide="false" fxHide.gt-sm>
        <button mat-button (click)="sidenavToggle()">
          <mat-icon>menu</mat-icon>
        </button> 
      </span>
      <app-social-icons fxLayout="row" fxLayoutAlign="start center" fxShow="false" fxShow.gt-md></app-social-icons>
              
    </div>
    <app-contacts fxLayout="row" fxLayoutAlign="start center" fxShow="false" fxShow.gt-sm></app-contacts> 
    <div fxLayout="row" fxLayoutAlign="end center" class="">
    <!--  <app-currency></app-currency>--> 
      <!--<app-lang></app-lang>-->
      <app-user-menu></app-user-menu>
    </div>    
  </div>           
</mat-toolbar>  
<mat-toolbar id="main-toolbar" class="mat-elevation-z2"> 
  <div class="theme-container" fxLayout="row" fxLayoutAlign="space-between center">
    <a class="logo" routerLink="/" ><app-logo></app-logo></a> 
    <div fxShow="false" fxShow.gt-sm class="horizontal-menu">            
        <app-horizontal-menu [menuParentId]="0"></app-horizontal-menu>
    </div> 
    <div fxLayout="row" fxLayoutAlign="start center">
      <a routerLink="/account/bookings" mat-icon-button matTooltip="Reservation en attente" fxShow="false" fxShow.gt-md>
          <mat-icon [matBadge]="result" 
                    [matBadgeHidden]="result == 0" 
                    matBadgeSize="small" 
                    matBadgeColor="warn">book</mat-icon>
      </a>
      <a routerLink="/compare" mat-icon-button matTooltip="Comparer" fxShow="false" fxShow.gt-md class="mr-3 ml-2">
          <mat-icon [matBadge]="appService.Data.compareList.length" 
                    [matBadgeHidden]="appService.Data.compareList.length == 0" 
                    matBadgeSize="small" 
                    matBadgeColor="warn">compare_arrows</mat-icon>
      </a>      
      <a routerLink="/submit-property" mat-mini-fab color="primary" fxHide="false" fxHide.gt-xs><mat-icon>add</mat-icon></a>
      <a routerLink="/submit-property" mat-raised-button color="primary" fxShow="false" fxShow.gt-xs class="uppercase">{{ 'SUBMIT_PROPERTY' | translate }}</a>
    </div>   
  </div>     
</mat-toolbar>